@use 'utilities/colors' as *;
@use 'components/components' as *;
@use 'components/nav';
@use 'components/header';
@use 'components/about';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

body {
	height: 100vh;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 1.6rem;
	background-color: var(--color-bg);
}

li {
	list-style: none;
}