$bgColor: #eeeeee;
$lightGray: #d9d9d9;
$gray: #b8b7b7;
$darkGray: #8b8a8a;
$white: #fff;
$black: #000;

:root {
	--color-bg: #eeeeee; // Tło
	--color-surface: #d9d9d9; // Sekcje / boxy
	--color-text: #000000; // Główny tekst
	--color-text-secondary: #8b8a8a; // Mniej ważny tekst
	--color-border: #b8b7b7; // Linie, obramowania
	--color-accent: rgb(141, 141, 171);
	--color-selection: rgb(177, 177, 229);
	--color-error-bg: hsl(240, 100%, 94%);
	--color-error-text: hsl(240, 31%, 27%);
	--color-white: #fff;
	--color-succes: hsl(143, 76%, 32%);
	--color-error: hsl(9, 73%, 39%);
}

.dark-mode {
	--color: #e9e9ed;
	--color: #8d8dab;
}
