@use 'utilities/colors' as *;

.portfolio {
	height: 100%;

	&__whereAmI {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0.5em;

		&-link {
			font-weight: bold;

			&:last-of-type {
				color: var(--color-accent);
			}
		}
	}
}
